<nav id="nav-bar">
    <div>
        <h2>Team Tracker</h2>
    </div>
    <div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</nav>


<h1>Login Page</h1>
  <form method="post" action="/login" id="form-info">
    <div>
      <div>
        <label>Username</label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password">
      </div>
    
      <button type="submit" class="button">Log In</button>
    </div>
  </form>





  <a href="/signup"><button class="button">Click here if you don't have an Account</button></a>