<nav id="nav-bar">
    <div>
        <h2>Team Tracker</h2>
    </div>
    <div id="buttons">
        <a href="/profile"><button>Profile</button></a>
        <form action="/logout" method="post">
            <button>Log Out</button>
        </form>
    </div>
</nav>


<main>
    <h2>Update Favorite Team</h2>


    <form action="/update-favorite" method="post">
        <label>Pick a New Favorite Team:</label>
        <select name="team">
            {{#each teams.data.data}}
            <option value="{{this.id}}{{this.full_name}}">{{this.full_name}}</option>
            {{/each}}
        </select>
        <button type="submit" class="button">Add Team</button>
    </form>
</main>